@model MVCMock.Models.ContactMessage

@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Contact us!</h4>
    if (ViewBag.Msg != null)
    {
        <p>Thanks for your message:</p>
        <p><em>@ViewBag.Msg</em></p>
        <p style="color: aquamarine">It was not really sent...</p>
    }
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Html.ValidationSummary(false)