@model MVCMock.Models.ContactMessage

@{
    ViewBag.Title = "Contact";
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Contact us!</h4>
    if (ViewBag.Msg != null)
    {
        <p>Thanks for your message:</p>
        <p><em>@ViewBag.Msg</em></p>
    }
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
            <input type="submit" value="Send" class="btn btn-default" />
            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
        </div>

    </div>
}
@Html.ValidationSummary(false)